
body { 
	font-family: Arial, sans-serif; 
	background-color: #fdfbfb; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
    background-image: url('../../kharif/soyabean.jpg');
	display: flex; 
	justify-content: left; 
	align-items: left; 
	height: 100vh; 
    
} 
.info {
    font-family: Arial, Helvetica, sans-serif;

}
p {
    font-family: Tahoma, Verdana, sans-serif;
    }

.Tips {
    position: absolute;
    justify-content: center;
    align-items: baseline;
    width: 30%;
    min-height: 50vh;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 10%;
    font-family: verdana;
    margin-top: 24%;
  }

  .consumption {
    position: absolute;
    justify-content: center;
    align-items: baseline;
    width: 30%;
    min-height: 50vh;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 24%;
    font-family: verdana;
    font: bolder;
  }

  .bg-text {
    text-align: center;
    font-size: larger;
    margin-left: 28%;
    margin-top: -2%;
}

.Soyabean {

  position:fixed;
  justify-content: center;
  align-items: baseline;
  width: 97%;
  min-height: 20vh;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: -68.8%;
  margin-right: 30%;
  font-family: verdana;
  margin-top: 10%;
}