<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <style>
        /* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans serif;
}
body {
  background-image: url("https://c1.wallpaperflare.com/preview/540/84/931/field-agriculture-farm-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 20%;
  min-height: 60vh;
  /* height: 90vh; */
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 38%;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
span {
  color: #fff;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
header {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field .input {
  height: 45px;
  width: 87%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  padding: 0 0 0 42px;
  background: rgba(255, 255, 255, 0.1);
}
i {
  position: relative;
  top: -31px;
  left: 17px;
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}
.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
}
.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  color: #fff;
  margin-top: 10px;
}
.left {
  display: flex;
}
label a {
  color: #fff;
  text-decoration: none;
}
.link {
  color: white;
  position: absolute;
  display: flex;
  bottom: 2em;
  justify-content: center;
  align-items: center;
  color: black;
}
.link a:hover {
  text-decoration: underline;
  color: lightgreen;
}

    </style>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>e-Farming | Login</title>
</head>
<body>
    <form action="http://localhost:4000/insert_data.php" method="post">
        <div class="box">
            <div class="container">
                <div class="top-header">
                    <!-- <span>Don't Have any account?</span> -->
                    <header>Sign Up</header>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="First Name" required name="Name" id="firstName">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Last Name" name="Lastname" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name="uname" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="input" placeholder="Password" required name="pass">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="input" placeholder="Re enter Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-field">
                    <input type="email" class="input" placeholder="Enter Your Email" required name="email">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div>
                    <label class="link">Already Have an account?&nbsp;&nbsp;
                        <a href="http://localhost:4000/index.php"> Login Here</a></label>
                </div>
                <div class="input-field">
                    <input type="submit" class="submit" value="Sign up"  onclick="set()">
                </div>  
            </div>
        </div>
    </div> conte<!DOCTYPE html
    </form>

</body>
</html>
