
body,html{
    height:100%;
}
h1{
    font-weight: bolder;
    color: #898dbf;
}

form{
    width:550px;
    font-weight: bold;
}

form label{
    font-size: 18px;
    color:#8f9096;
}

form .form-control,form .form-control:focus{
    border-color:transparent;
    border-bottom-color: #623b9b;
    box-shadow:red;
}

form .btn{ 
    background-color: #6c63ff;
    border-radius: 20px;
    border-color: transparent;
}

.btn.btn-default{
    background: #ebebeb;
    color:#242b54;
}

.sidebar {
    height: 90vh !important;
    bottom: 0;
    padding-left:20px;
    font-size: 1.3rem;
    background: #6c63ff;
}

.sidebar .nav-link{
    margin-bottom: 20px;
    color:#fbfbfe;
}

.nav-link:hover {
    background-color: black;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.2); 
}

.notifications .badge {
    position:relative;
    top: -10px;
    right: -20px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.nav-link{
    padding: 40px;
    transition: transform .2s; 
    margin: 10 auto;
}



  .typewriter h1 {
    color: #898dbf;
    font-weight: bolder;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 5%; 
    animation: 
      typing 3.5s steps(25, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 254, 253) }
  }
  
  