.box {
    /* display: block; */
    position: fixed;
    justify-content: center;
    align-items: baseline;
    width: 20%;
    min-height: 28vh;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5%;
  }

body {
    background-image: url('https://c1.wallpaperflare.com/preview/998/869/314/plants-crops-maize-corn.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    
}

.saan {
padding : 30px;
background : #2d2f31; 
color : white;
font-size : 1.2em;
font-variant : small-caps;
/* cursor : pointer; */
/* display: block; */
}

.saan1 {
    padding : 30px;
    background : #2d2f31; 
    color : white;
    font-size : 1.2em;
    font-variant : small-caps;
    /* cursor : pointer;
    display: block; */
    }


.saan::after {
    /* right: 50%; */
    content: "+";
}

.saan1::after {
    /* right: 40%; */
    content: "+";
}



.slide {
    width:100%;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
    }

input {
    color: rgb(123, 6, 6);
    font-size: 100%;
}

.slide1 {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
    }


.slide li {padding : 40px;}
.slide1 li {padding : 40px;}

.styled {
    border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    
    background-color: rgb(183, 197, 36);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(38, 204, 16);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .set12 {
    float: right;
    width: 5%;
    margin-bottom: auto;

}

#touch {position: absolute; opacity: 0; height: 0px;}    
#touch1 {position: absolute; opacity: 0; height: 0px;}
#touch2 {position: absolute; opacity: 0; height: 0px;}   

#touch:checked + .slide {height: 150px;} 
#touch1:checked + .slide1 {height: 150px;} 


header {
    background-color: transparent;
    color: rgb(99, 156, 70);
    padding: 15px;
    text-align: center;
}
nav {
    background-color: rgb(183, 197, 36);
    overflow: hidden;
    font-weight: bold;
    height: 50px;
}
nav a {
    float: left;
    display: block;
    color: rgb(245, 245, 245);
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.9);
    
}

nav a:hover {
    background-color: #73be98;
    color: black;
    font-weight: 800;
    text-decoration:underline;
}
.container {
    padding: 30px;
    font-weight: 800;
    backdrop-filter: blur(5px);

}
h2 {
    color: #4CAF50;
    font-weight: 800;

}
p {
    line-height: 1.3;
    font-weight: 800;

}